<h1>New Message:</h1>
<form action="/new" method="post">
    <input type="text" name="nameUser" placeholder="Your name" required>
    <input type="text" name="messageUser" placeholder="Message" required>
    <button type="submit">Send</button>
</form>